.header {
    background-color: rgb(75, 75, 75);
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
}
.logo {
    font-size: 23px;
    margin-left: 80px;
    color: white;
}

.home {
    margin-left: 30px;
    color: white;
}

.link {
    color: rgb(223, 223, 223);
}

.drop {
    color: rgb(223, 223, 223);
    position: relative;
    background-color: rgb(75, 75, 75);
    border: none;
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu {
    display: none;
}

svg {
    fill: lightgray;
    z-index: 1;
}

.items > li {
    display: inline-flex;
    margin-right: 10px;
}

ul {
    list-style: none;
}

.search-bar {
    display: inline-flex;
    height: 26px;
    margin-bottom: 12%;
    border-radius: 3px;
    border: none;
}

.search-but {
    display: inline-flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 75, 75);
}

.search-but:hover {
    border-color: rgb(53, 255, 53);
    color: rgb(55, 255, 55);
}

div > button {
    display: inline-flex;
    align-items: center;
    height: 26px;
}

div {
    display: inline-flex;
}

.dis {
    margin-right: 190px;
    color: lightgrey;
    position: relative;
    background-color: rgb(75, 75, 75);
    border: none;
}

@media(max-width: 768px) {
    .home {
        display: none;
    }
    .link {
        display: none;
    }
    .drop {
        display: none;
    }
    .dis {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .search-but {
        display: none;
    }

    #menu {
        display: none
    }
}